.article-content {
  ul li {
    list-style: initial;
    margin-left: 1.4rem;
    padding: 0;
  }
  ol li {
    list-style: decimal;
    margin-left: 1.4rem;
    padding: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 2.986rem;
  }
  h2 {
    font-weight: bold;
    font-size: 2.488rem;
  }
  h3 {
    font-weight: bold;
    font-size: 2.074rem;
  }

  h4 {
    font-weight: bold;
    font-size: 1.728rem;
  }
  h5 {
    font-weight: bold;
    font-size: 1.44rem;
  }
  h6 {
    font-weight: bold;
    font-size: 1.2rem;
  }
}
