@import "./quill.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body.swal2-shown.swal2-height-auto {
  height: 100% !important;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
