.ql-editor {
  font-size: 16px;

  --text-size-xs: 0.64em;
  --text-size-sm: 0.8em;
  --text-size-md: 1em;
  --text-size-lg: 1.25em;
  --text-size-xl: 1.56em;
  --text-size-2xl: 1.95em;
  --text-size-3xl: 2.44em;
  --text-size-4xl: 3.05em;
  --text-size-5xl: 3.81em;
}

.ql-editor ol {
  padding: 0;
}
.ql-editor :where(ul, ol) li {
  padding: 0;
  margin-left: 1.5em;
}
.ql-editor ol li,
.ql-editor ul li {
  list-style: decimal;
}

.ql-editor :where(h1, h2, h3, h4, h5, h6) {
  font-weight: bold;
}

.ql-editor h1 {
  font-size: var(--text-size-4xl) !important;
}
.ql-editor h2 {
  font-size: var(--text-size-3xl);
}
.ql-editor h3 {
  font-size: var(--text-size-2xl);
}

.ql-editor h4 {
  font-size: var(--text-size-xl);
}
.ql-editor h5 {
  font-size: var(--text-size-lg);
}
.ql-editor h6 {
  font-size: var(--text-size-md);
}
